
#usersSelected{
    display: flex;
    flex-direction: row;
}

#selectedTxt{
    color: #FBDA7D;
}

.selectedUser{
    background-color: transparent;
    background-image: url('../svg/button.svg');
    background-size: contain;
    background-repeat: no-repeat;

    
    padding: 0.6rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    min-width: 8rem;

    color: #FBDA7D;

    margin-left: 1rem;
    margin-bottom: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.actionContainer{
    display: flex;
    flex-direction: row;
    align-items: center;

    
    border: 3px solid #FBDA7D;
    background: rgb(68,55,48);
    background: linear-gradient(180deg, rgba(68,55,48,1) 0%, rgba(41,32,29,1) 100%);

    margin: 1rem;

    width: fit-content;
    padding: 0.5rem;

    filter: drop-shadow(-5px 5px 0px #000);

}

.selectedContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#action{
    background-color: transparent;

    background-image: url('../svg/actionButton.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    padding: 2rem;
    padding-left: 4.5rem;
    padding-right: 4rem;

    color: #FBDA7D;

    font-size: 2rem;

    margin-bottom: 0.5rem;
    margin-top: 0.5rem;

    border: none;
    outline: none;

    cursor: pointer;

    transition: 0.3s;
}

#actionSend{
    background-color: transparent;

    background-image: url('../svg/actionButton.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    padding: 2rem;
    padding-left: 4.5rem;
    padding-right: 4rem;

    color: #FBDA7D;

    font-size: 2rem;

    margin-bottom: 0.5rem;
    margin-top: 0.5rem;

    border: none;
    outline: none;

    cursor: pointer;

    transition: 0.3s;
}

#actionSend:hover{
    transform: scale(1.05);
}

#action:hover{
    transform: scale(1.05);
}

.buttonBackground{
    margin-left: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.buttonBackground:hover{
    background-image: radial-gradient(circle, rgba(197,54,26,1) 0%, rgba(161,67,24,0.4206932773109243) 68%, rgba(255,199,181,0) 100%);
}


#messageTextArea{
    width: 15rem;
    height: 6rem;

    border-radius: 0.5rem;
    background-color: #773632;
    border: 3px solid #773632;
    margin-bottom: 0.2rem;
    padding: 0.5rem;

    font-size: 0.9rem;
    color: #FBDA7D;

    resize: none;
}

#messageTextArea:focus{
    border-color: #FBDA7D;
    outline: none;
}

#messageTextArea::-webkit-scrollbar-track {
    border: 2px solid rgb(20,15,0);
    background-color: rgb(55, 46, 46);
    border-radius: 1rem;
  }
  
#messageTextArea::-webkit-scrollbar {
    width: 0.5rem;
}
  
#messageTextArea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(181, 125, 69);
    border: 2px solid #000;
}