@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");

* {
  font-family: "Crimson Text", serif;
}

#Txt {
  color: #fbda7d;
}

.TxtResult {
  color: #ff3c3c;
}

.navbarContainer {
  display: flex;
  position: relative;
  margin-top: 0rem;
  line-height: 0.5rem;
  flex-direction: row;
  align-items: center;
  text-align: center;

  border: 3px solid #fbda7d;
  background: rgb(68, 55, 48);
  background: linear-gradient(
    180deg,
    rgba(68, 55, 48, 1) 0%,
    rgba(41, 32, 29, 1) 100%
  );

  width: fit-content;
  padding: 0.5rem;
  filter: drop-shadow(-5px 5px 0px #000);
}
