
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

*{
    font-family: 'Crimson Text', serif;
}

.usersListContainerDiv{
    padding: 0.5rem;
    margin-left: 1rem;
}

#playersTxt{
    font-size: large;
    margin-bottom: 0.5rem;
    color: #FBDA7D;
}

.usersListContainer{
    border: 3px solid #FBDA7D;
    background: rgb(68,55,48);
    background: linear-gradient(180deg, rgba(68,55,48,1) 0%, rgba(41,32,29,1) 100%);

    max-width: 16rem;
    min-width: 16rem;
    padding: 0.5rem;

    padding-top: 1rem;

    color: white;

    overflow-y: scroll;
    height: 20rem;

    filter: drop-shadow(-5px 5px 0px #000);
}

.usersListContainer::-webkit-scrollbar-track {
    border: 2px solid rgb(20,15,0);
    background-color: rgb(55, 46, 46);
    border-radius: 1rem;
  }
  
.usersListContainer::-webkit-scrollbar {
    width: 0.5rem;
}
  
.usersListContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(181, 125, 69);
    border: 2px solid #000;
}

.userContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.listUserName{
    padding: 0.6rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    min-width: 12rem;
    background-color: transparent;

    color: #FBDA7D;

    background-image: url('../svg/button.svg');
    background-size: contain;
    background-repeat: no-repeat;

    border: none;
    outline: none;

    transition: 0.3s;
    
    cursor: pointer;
}

.listUserNameNotTarget{
    padding: 0.6rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    min-width: 12rem;
    background-color: transparent;

    color: #FBDA7D;

    background-image: url('../svg/notTarget.svg');
    background-size: contain;
    background-repeat: no-repeat;

    border: none;
    outline: none;

    transition: 0.3s;
    
    cursor: pointer;
}

.buttonBackground{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.2rem;
}

.buttonBackground:hover{
    background-image: radial-gradient(circle, rgba(197,54,26,1) 0%, rgba(161,67,24,0.4206932773109243) 68%, rgba(255,199,181,0) 100%);
}

.buttonBackground .selected{
    background-image: radial-gradient(circle, rgba(197,54,26,1) 0%, rgba(161,67,24,0.4206932773109243) 68%, rgba(255,199,181,0) 100%);
}

.listUserName:hover{
    transform: scale(1.05);
}


.deadIcon{
    max-width: 3rem;
    margin-left: 0.2rem;
}

.deadIcon:hover{
    transform: scale(1.1);
}


.usersWillContainer{
    display: flex;
    flex-direction: row;

    
}

#willContainer{
    display: flex;
    flex-direction: column;

    padding: 0.5rem;
    margin-left: 1rem;
}

.uiWillContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#closeWill{
    max-width: 2rem;
    max-height: 2rem;

    filter: drop-shadow(-5px 5px 0px #000);
}

#closeWill:hover{
    transform: scale(1.1);
}

#willTxt{
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;

    color: #FBDA7D;
}

#userWill{
    border: 3px solid #FBDA7D;
    background: rgb(68,55,48);
    background: linear-gradient(180deg, rgba(68,55,48,1) 0%, rgba(41,32,29,1) 100%);

    color: #FBDA7D;

    width: 12rem;
    height: 8rem;

    padding: 0.5rem;

    filter: drop-shadow(-5px 5px 0px #000);
}