body {
  height: 100vh;
  background: rgb(70, 65, 63);
  background: linear-gradient(
    180deg,
    rgba(70, 65, 63, 1) 0%,
    rgba(51, 52, 56, 1) 100%
  );
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
