body{
  height: 100vh;
  background: rgb(70,65,63);
  background: linear-gradient(180deg, rgba(70,65,63,1) 0%, rgba(51,52,56,1) 100%);
  background-attachment: fixed;
}

.app{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chat-users-container{
  display: flex;
  flex-direction: row;

  align-items: center;
}

.chat-action-container{
  display: flex;
  flex-direction: row;

  align-items: center;
}

#deadBanner {
  background-color: transparent;

  background-image: url('./svg/dead.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2rem;
  padding-left: 4.5rem;
  padding-right: 4rem;
  width: 20rem;
  height: 8rem;

  margin-left: 1rem;
}

#butonLobbies{
  border: 3px solid #FBDA7D;
    background: rgb(68,55,48);
    background: linear-gradient(180deg, rgba(68,55,48,1) 0%, rgba(41,32,29,1) 100%);

    padding: 2rem;
    padding-left: 4.5rem;
    padding-right: 4rem;

    color: #FBDA7D;

    font-size: 2rem;

    margin-bottom: 0.5rem;
    margin-top: 0.5rem;

    transition: 0.4s;

    cursor: pointer;
}

#butonLobbies:hover{
  transform: scale(1.05);
}
