body{
  height: 100vh;
  background: rgb(70,65,63);
  background: linear-gradient(180deg, rgba(70,65,63,1) 0%, rgba(51,52,56,1) 100%);
  background-attachment: fixed;
}

.app{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chat-users-container{
  display: flex;
  flex-direction: row;

  align-items: center;
}

.chat-action-container{
  display: flex;
  flex-direction: row;

  align-items: center;
}

#deadBanner {
  background-color: transparent;

  background-image: url('./svg/dead.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2rem;
  padding-left: 4.5rem;
  padding-right: 4rem;
  width: 20rem;
  height: 8rem;

  margin-left: 1rem;
}
